@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Happy+Monkey&family=Kavoon&family=Nunito&display=swap');

.card {
    background-color: #EBD3BB; /*was "whitesmoke" */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.cat-img {
    background-color: #684440; /*was "lightgrey" */
    width: 75%;
}

body {
    font-family: "Nunito", sans-serif;
    background-color: #FFF8ED;
}

h1 {
    font-family: "Happy Monkey", "Fredoka", "Kavoon", sans-serif;
}

button {
    font-family: "Nunito", sans-serif;
    border-style: solid;
    border-radius: 10px;
    background-color: #E0E5F1;
}

nav {
    background-color: #bd4c48;
    margin-bottom: 1em;
}

a {
    color: #837B82;
}

a:hover {
    color: #D56942;
}

.accordion-button {
    font-family: "Happy Monkey";
}

